<div class="item2" (window:keyup.control.alt.f10)="showEevee = !showEevee">
    <div class='wrapper'>
		<div [dragula]='"diagram-list"' [dragulaModel]='diagramList'>
			<div *ngIf="diagramList.length == 0 && !showEevee" class="no-charts">
				<img id="default-img" src="./assets/default_chart_2.png"/>
				<p>
						There's no diagrams to show for now ! 
						Type a Gloe request in the text editor to generate a diagram.
				</p>
			</div>
			<div *ngIf="showEevee" id="eevee">
				<img style="width: 63%" src="./assets/eevee_bg.png"/>
			</div>
			<div *ngFor="let diagram of diagramList">	
				<div class="diagram" 
					 [ngClass]="{'two-columns': isInTwoColumns(diagram)}"
				>
					<!-- <div> -->
						<div class="favo_star" (click)="updateFavoriteList(diagram)">
							<i class="material-icons" *ngIf="isFavorite(diagram)">star_rate</i>
							<i class="material-icons" *ngIf="!isFavorite(diagram)">star_border</i>
						</div>
						<fusioncharts
							[id]="diagram.id"
							[width]="diagram.width"
							[height]="diagram.height"
							[type]="diagram.type"
							[dataFormat]="diagram.dataFormat"
							[dataSource]="diagram.dataSource">
						</fusioncharts>
					<!-- </div> -->
				</div>			
			</div>
		</div>
	</div>
</div>