.item:hover{
    background-color: white;
    color: black;
    cursor: pointer;
}

.full_line{
    width: 100%;
}

.diagram {
    margin-bottom: 20px;
}

.two-columns {
    margin-left: 5px;
    margin-right: 5px;
    width: calc(50% - 12px);
    float: left;
}

.favo_star {
	color: yellow;
    background-color: rgb(20, 20, 20);
    cursor: pointer;
}


#default-img {
    width: 20%;
    margin-top: 15%;
    margin-bottom: 5%;
}

.no-charts {
    text-align: center;
    color: #8A9767;
}

#eevee {
    text-align: center;
}