body{
  margin-top: 60px;
}

p{
  font-size: large;
}

.tab-title {
  font-size: 11px;
  font-style: italic;
  padding-bottom: 10px;
}

#header{
  color: #009688;
  background-color: rgba(0, 0, 0, 0);
  height: 40px;
  width: 100%;
  top: 0;
  padding-top: 10px;
  padding-left: 5px;
  position: fixed;
}

#menu{
  background-color: rgba(0, 0, 0, 0);
  /* height: 100%; */
  position: fixed;
  /* top: 100px; */
  /* padding-top: 10px; */
  border-color: rgba(0, 0, 0, 0);
}
#menu .panel-body, #header .panel-body{
  padding-top: 0;
}
#menu .panel-body{
  margin-top: 10px;
}

#card .panel-body{
  padding: 0;
  padding-bottom: 10px;
}

.title, .desc, .author{
  margin-left: 10px;
  margin-right: 10px;
}

.col-xs-4 {
  margin: 0;
}

.material-icons { 
    display: inline;
    font-size: 19px;
    color: #C09D63;
}

.tab-button {
  text-decoration: none; 
  color: white;
  cursor: pointer;
}