<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<div id="menu">
      <div class="row" style="top: 40px; left: 30px; position: fixed;">
          <a class="burger" (click)="switchBurger()" style="cursor:pointer">
            <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                <path fill="#FFFFFF" d="M3,6H21V8H3V6M3,11H21V13H3V11M3,16H21V18H3V16Z" />
            </svg>
          </a>
      </div>
	<div *ngIf="showBurger">
		<div class="row" style="padding-left: 15px">
			<div class="col-xs-5">
				<a class="burger" (click)="showXtext = true" class="tab-button">
					<i class="material-icons md-inactive">search</i> 
					<span class="tab-title">Type Gloe request</span>
				</a>
			</div>
			<div class="col-xs-5 col-xs-offset-1">
				<a class="burger" (click)="showXtext = false" class="tab-button">
					<i class="material-icons">star_border</i> 
					<span class="tab-title">View favorites</span>
				</a>
			</div>
		</div>
		<div [hidden]="!showXtext">
			<text-editor class="col-xs-12" style="width: 30em;"></text-editor>
		</div>
		<div [hidden]="showXtext">
			<favorites class="col-xs-12" style="width: 30em;"></favorites>
		</div>
	</div>
</div>