<div>
    <div *ngIf="isLoggedIn" id="dashboard">
        <div style="height:15%;">
            <h1> League Of Eevees</h1>
            <p (click)="logOut()" class="log-out">log out</p>
        </div>
        
    <menu 
        [showBurger]="isShowingMenu"
        (onSwitch)="switchMenu()"
        [class.col-xs-4]="isShowingMenu"
        [class.col-xs-1]="!isShowingMenu"
        style="height: calc(85% - 15px);">
    </menu> 


    <div [class.col-xs-8]="isShowingMenu" 
    [class.col-xs-11]="!isShowingMenu" 
    style="height: calc(85% - 15px); overflow: hidden;">
             <diagram></diagram>
             <div class="diagrams-wrapper">
                 <grid></grid>
             </div>
        </div>
    </div>

    <landing-page [hidden]="isLoggedIn"></landing-page>

</div>

