<div class="diagram-titles">
	<div *ngFor="let diagram of diagramList">
		<button 
			class="col-xs-3 diag" 
			(click)="displayOrHideDiagram(diagram.id, diagram.type)"
			[ngClass]="{'active-diagram': getIndexInDiagramList(diagram.id) != -1}"
		>
			{{diagram.dataSource.chart.caption}}
		</button>
	</div>
</div>
