button {
    font-size: 12px;
    padding: 5px 10px;
    margin-bottom: 10px;
    background: transparent;
    color: white;
    border: 1px solid #3E4B4C !important;
    border-radius: 10px;
}

button:hover, button:active {
    background-color: #3E4B4C;
    border: 1px solid #3E4B4C !important;
}

button:focus {
    outline:0;
}

.col-xs-3 {
    margin-left: 2px;
    margin-right: 2px;
    width: calc(25% - 10px);
}

.active-diagram {
    background-color: #3E4B4C;
    border: 1px solid #3E4B4C !important;
}

.diagram-titles {
    max-height: 65px;
    overflow-y: hidden;
}