<div id="main">
  <div class="site-wrapper">

    <div class="site-wrapper-inner">

      <div class="cover-container">

        <div class="inner cover">
          <h1 id="landing-title" class="cover-heading">League Of Eevees</h1>
          <p class="lead"> What's your invocator's name ?</p>

          <div class="row">
            <input class="transparent-input col-xs-11" type='text' name='pseudo'
            placeholder="Enter a pseudo..." #pseudo (keyup.enter)="logIn(pseudo.value)">
            <a (click)="logIn(pseudo.value)" class="log-in col-xs-1">&#10095;</a>
          </div>

          <p class="lead error" *ngIf="error"> Sorry, you must add a pseudo first...</p>
        </div>

      </div>

    </div>

  </div>

</div>
