#xtext-editor {
  /* min-height: 400px; */
  height: 75vh;
  min-height: 90%;
  width:100%;
  overflow: auto;
}

.xtext-marker_error {
	position: absolute;
	z-index: 30;
	background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAADCAYAAAC09K7GAAAABmJLR0QA/wD/AP+gvaeTAAAAHElEQVQI12NggIL/DAz/GdA5/xkY/qPKMDAwAADLZwf5rvm+LQAAAABJRU5ErkJggg==");
	background-repeat: repeat-x;
	background-position: left bottom;
}
.xtext-marker_warning {
	position: absolute;
	z-index: 20;
	background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAADCAYAAAC09K7GAAAABmJLR0QA/wD/AP+gvaeTAAAAMklEQVQI12NkgIIvJ3QXMjAwdDN+OaEbysDA4MPAwNDNwMCwiOHLCd1zX07o6kBVGQEAKBANtobskNMAAAAASUVORK5CYII=");
	background-repeat: repeat-x;
	background-position: left bottom;
}
.xtext-marker_info {
	position: absolute;
	z-index: 10;
	background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAADCAYAAAC09K7GAAAABmJLR0QA/wD/AP+gvaeTAAAANklEQVQI12NkgIIVRx8tZGBg6GZccfRRKAMDgw8DA0M3AwPDIiYGBoZKBgaG7ghruSsMDAwpABH5CoqwzCoTAAAAAElFTkSuQmCC");
	background-repeat: repeat-x;
	background-position: left bottom;
}
.xtext-marker_read {
	position: absolute;
	z-index: 5;
	background-color: #ddd;
}
.xtext-marker_write {
	z-index: 5;
	position: absolute;
	background-color: yellow;
}

button {
    font-size: 13px;
    padding: 5px 10px;
    margin-top: 10px;
    background: #3E4B4C;
    color: white;
    border: 1px solid #3E4B4C !important;
    border-radius: 10px;
}

button:hover, button:active {
    background-color: transparent;
    border: 1px solid #3E4B4C !important;
}

button:focus {
    outline:0;
}

button:hover.disabled {
	cursor: not-allowed;
}

#error-message {
	background-color: #9e0f0fe1;
	color: rgba(255, 255, 255, 0.842);
	font-size: 11px;
	text-align: center;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}