<div (window:keyup.shift.control)="fetchDiagramData()">
    <div id="error-message" >{{errorMessage}}</div>
    <loading *ngIf="isLoading"></loading>
     <div id="xtext-editor" 
        data-editor-xtext-lang="gloe">
   </div> 
   <div style="text-align:center;">
       <button (click)="fetchDiagramData()" 
       [disabled]="isLoading"
       [class.disabled]="isLoading"
       >Generate diagram</button>
   </div>
</div>