.favorites {
	overflow-y: auto;
	height: 75vh;
  	min-height: 90%;
	width: 100%;
	background-color: #141414;
	padding: 0;
	font-size: 12px;
}

.material-icons {
	cursor: pointer;
	float: right;
	font-size: 19px;
	color: #8A9767;
}

.favorite {
	text-align: center;
	padding: 10px;
	cursor: pointer;
}

.favorite-label {
	padding: 0;
	cursor:pointer;
	margin-top: 10px;
}

.chartIcon {
	width: 25%;
}

.delete-icon {
	padding: 0;
}

.disabled {
	cursor: not-allowed;
}