<div class="favorites">
	<loading *ngIf="isLoading"></loading>
	<div *ngFor="let favorite of favoriteList" class="favorite col-xs-6">
		<div>
			<div  class="col-xs-11"
				[class.disabled]="isLoading"
				(click)="generateFavoriteDiagram(favorite)"
			>
				<img src="{{favorite.imgUrl}}" 
						class="chartIcon row" 
				/>
				<br>
				<label class="row" class="favorite-label">
					{{favorite.title}}
				</label>
			</div>

			<i class="material-icons col-xs-1 delete-icon" 
			   (click)="removeFavorite(favorite.id)">
				delete
			</i>

		</div>
		
	</div>
</div>
